<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 form-box">
            <form [formGroup]="dataForm">
                <fieldset>
                    <h4>Enter with Data Forms:</h4>
    
                    <div class="form-row">
                        <div class="form-group col">
                            <div class="form-label-group">
                                <input formControlName="name" type="text" id="inputName" class="form-control" placeholder="Name">
                                <label for="inputName">Name</label>
                            </div>
                            <app-helper-text
                                class="text-muted text-right"
                                *ngIf="dataForm.get('name').errors?.required" text="* Required Field">
                            </app-helper-text>
                            <app-helper-text
                                class="text-muted text-right"
                                *ngIf="dataForm.get('name').errors?.minlength" text="The min length is 2 characters">
                            </app-helper-text>
                            <app-helper-text
                                class="text-muted text-right"
                                *ngIf="dataForm.get('name').errors?.maxlength" text="The max length is 20 characters">
                            </app-helper-text>
                        </div>
                        <div class="form-group col">
                            <div class="form-label-group">
                                <input formControlName="author" type="text" id="inputAuthor" class="form-control" placeholder="Author" disabled>
                                <label for="inputAuthor">Author</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="form-label-group">
                            <input formControlName="description" type="textarea" id="inputDescription" class="form-control" placeholder="Description">
                            <label for="inputDescription">Description</label>
                        </div>
                        <app-helper-text
                            class="text-muted text-right"
                            *ngIf="dataForm.get('description').errors?.required" text="* Required Field">
                        </app-helper-text>
                        <app-helper-text
                            class="text-muted text-right"
                            *ngIf="dataForm.get('description').errors?.minlength" text="The min length is 8 characters">
                        </app-helper-text>
                        <app-helper-text
                            class="text-muted text-right"
                            *ngIf="dataForm.get('description').errors?.maxlength" text="The max length is 140 characters">
                        </app-helper-text>
                    </div>
                    
                    <div class="f1-buttons">
                        <button [disabled]="dataForm.invalid" type="button" class="btn btn-orange" [routerLink]="['2']">Proximo</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
