@import '../../../../../assets/styles/_base/variables';

.card-content{
    .card{
        text-decoration: none;
        color: $_grey;

        &:hover{
            color: darken($_grey, 5%);
        }
    }

    .card-body{
        display: flex;
        justify-content: center;
        align-items: center;

        i{
            font-size: 4em;
            padding: 1.4rem 0;
        }
    }
    .card-footer{
        i{
            padding: 0 0.5rem;
        }
    }
}