<div class="container">
        <div class="card card-reset mx-auto mt-5">
            <div class="card-header">Reset Password</div>
            <div class="card-body">
                <form [formGroup]="resetForm" (submit)="resetPassword()">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" autofocus="autofocus">
                            <label for="inputPassword">Password</label>
                        </div>
                        <app-helper-text
                            class="text-muted text-right"
                            *ngIf="resetForm.get('password').errors?.required" text="* Required Field">
                        </app-helper-text>
                        <app-helper-text
                            class="text-muted text-right"
                            *ngIf="resetForm.get('password').errors?.minlength" 
                            text="The min length is 8 characters">
                        </app-helper-text>
                        <app-helper-text
                            class="text-muted text-right"
                            *ngIf="resetForm.get('password').errors?.maxlength" 
                            text="The max length is 16 characters">
                        </app-helper-text>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input formControlName="confirmPassword" type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password">
                            <label for="inputConfirmPassword">Confirm Password</label>
                        </div>
                        <app-helper-text
                            class="text-muted text-right"
                            *ngIf="resetForm.get('confirmPassword').errors?.required" text="* Required Field">
                        </app-helper-text>
                        <app-helper-text
                            class="text-muted text-right"
                            *ngIf="resetForm.get('confirmPassword').errors?.minlength" 
                            text="The min length is 8 characters">
                        </app-helper-text>
                        <app-helper-text
                            class="text-muted text-right"
                            *ngIf="resetForm.get('confirmPassword').errors?.maxlength" 
                            text="The max length is 16 characters">
                        </app-helper-text>
                    </div>
                    <button [disabled]="resetForm.invalid" class="btn btn-primary btn-block">Reset my Password</button>
                </form>
    
            </div>
        </div>
    </div>