<!--div class="w-100 p-3">
<div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Clientes SaaS</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
              <thead class="tbl-head">
                <tr>
                  <th class="tbl-head-checkbox"><input type="checkbox" class="cst-checkbox"></th>
                  <th>Cliente</th>
                  <th>Produto</th>
                  <th>Atualização Periódica</th>
                  <th>Schedulle Task</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="tbl-body">
                <tr>
                  <td class="tbl-body-checkbox"><input type="checkbox"></td>
                  <td>ABBVIE</td>
                  <td>Comply e Comply e-docs</td>
                  <td>Não</td>
                  <td><span class="badge cst-badge-success">Monthly Day 05</span></td>
                  <td>
                      <button type="button" class="btn btn-outline-success cst-btn-rounded">View</button>
                      <a href="#"><i class="fas fa-download btn-download"></i></a>
                  </td>
                </tr>
                <tr>
                    <td class="tbl-body-checkbox"><input type="checkbox"></td>
                    <td>ABBVIE</td>
                    <td>Comply e Comply e-docs</td>
                    <td>Não</td>
                    <td><span class="badge cst-badge-warning">Mar 05 2019</span></td>
                    <td>
                      <button type="button" class="btn btn-outline-success cst-btn-rounded">View</button>
                      <a href="#"><i class="fas fa-download btn-download"></i></a>
                    </td>
                  </tr>
                  <tr>
                      <td class="tbl-body-checkbox"><input type="checkbox"></td>
                      <td>ABBVIE</td>
                      <td>Comply e Comply e-docs</td>
                      <td>Não</td>
                      <td><span class="badge cst-badge-light">Ago 10 2019</span></td>
                      <td>
                          <button type="button" class="btn btn-outline-success cst-btn-rounded">View</button>
                          <a href="#"><i class="fas fa-download btn-download"></i></a>
                      </td>
                    </tr>
                    <tr>
                        <td class="tbl-body-checkbox"><input type="checkbox"></td>
                        <td>ABBVIE</td>
                        <td>Comply e Comply e-docs</td>
                        <td>Não</td>
                        <td><span class="badge cst-badge-light">Ago 20 2019</span></td>
                        <td>
                            <button type="button" class="btn btn-outline-success cst-btn-rounded">View</button>
                            <a href="#"><i class="fas fa-download btn-download"></i></a>
                        </td>
                      </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div-->