<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Redefinir Senha</div>
        <div class="card-body">
        <div class="text-center mb-4">
            <h4>Esqueceu sua senha?</h4>
            <p>Digite seu endereço de e-mail e nós lhe enviaremos instruções sobre como redefinir sua senha.</p>
        </div>
        <form [formGroup]="forgotForm" (submit)="forgotPassword()">
            <div class="form-group">
                <div class="form-label-group">
                    <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Enter email address" autofocus="autofocus">
                    <label for="inputEmail">Insira o endereço de e-mail</label>
                </div>
                <app-helper-text
                    class="text-muted text-right"
                    *ngIf="forgotForm.get('email').errors?.required" text="* Required Field">
                </app-helper-text>
                <app-helper-text
                    class="text-muted text-right"
                    *ngIf="forgotForm.get('email').errors?.email" text="Email format is invalid.">
                </app-helper-text>
            </div>
            <button class="btn btn-primary btn-block" [disabled]="forgotForm.invalid">Reset my Passord</button>
        </form>
        <div class="text-center">
            <a class="d-block small mt-3" href="register.html">Cadastre sua Conta</a>
            <a class="d-block small" href="login.html">Página de Login</a>
        </div>
        </div>
    </div>
</div>