/**
 * _mixins
 * 
 * Description: Custom mixins
 * Created at: 2019-02-17
 * Author: Rafael Marinho
 * Base:
 */

 /* Border Radius */
 @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
 }

 /* Box Shadow */
@mixin box-shadow($tl, $tr, $br, $bl, $rgb, $opacity) {
   -webkit-box-shadow: $tl $tr $br $bl rgba($rgb, $opacity);
   -moz-box-shadow: $tl $tr $br $bl rgba($rgb, $opacity);
   -ms-box-shadow: $tl $tr $br $bl rgba($rgb, $opacity);
   box-shadow: $tl $tr $br $bl rgba($rgb, $opacity);
}
  