/**
 * _variables
 * 
 * Description: Custom variables
 * Created at: 2019-02-16
 * Author: Rafael Marinho
 * Base: Bootstrap@4.1.3
 */


/* Bootstrap imports */
@import '~node_modules/bootstrap/scss/functions';
@import '~node_modules/bootstrap/scss/variables';

/* Custom Colors */
$_orange: #F35B3F;
$_black: #636e72;
$_grey: darken(#aaa69d, 5);
$_lightGrey: lighten(#aaa69d, 32);