<div class="container">
    <div class="row">
        <div class="col-lg-12 form-box">
            <fieldset>
                <h6>Choose your Form Model</h6>
            </fieldset>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col col-lg-3">
            <div class="choice-card">
                <input type="radio" #radio (click)="isChecked()" name="radiocard" id="radio-1">
                <label class="card" for="radio-1">
                    <i class="fa fa-file"></i>
                    <p>Default Form</p>
                </label>
            </div>
        </div>
        <div class="col col-lg-3">
            <div class="choice-card">
                <input type="radio" name="radiocard" id="radio-2">
                <label class="card" for="radio-2">
                    <i class="fas fa-calendar"></i>
                    <p>Schedulle Form</p>
                </label>
            </div>
        </div>
        <div class="col col-lg-3">
            <div class="choice-card">
                <input type="radio" name="radiocard" id="radio-3">
                <label class="card" for="radio-3">
                    <i class="fas fa-book"></i>
                    <p>Documents</p>
                </label>
            </div>
        </div>
    </div>

    <div class="f1-buttons">
        <button type="button" class="btn btn-outline-dark" [routerLink]="['../3']">Proximo</button>
    </div>
</div>