<nav class="container-breadcrumb" aria-label="breadcrumb">
    <div class="row">
        <ol class="breadcrumb col">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
        <div class="breadcrumb-actions col">
            <button [routerLink]="['../new-form']" type="button" class="btn btn-primary float-right"><i class="fas fa-plus"></i> New</button>
        </div>
        <ng-template>
            <div class="breadcrumb-actions col">
                <button [routerLink]="['../new-form']" type="button" class="btn btn-primary float-right"><i class="fas fa-plus"></i> New</button>
            </div>
        </ng-template>
    </div>
</nav>