

.container-breadcrumb{
    width: 100%;
    padding: 1.5rem 0;

    .breadcrumb{
        background: none !important;
    }

    .breadcrumb-actions{
        button{
            margin: 0.5rem 0;

            i{
                font-weight: 600;
                font-size: 0.8em;
            }
        }
    }
}